* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 1080px) {
  body {
    font-size: 93.75%; /* 15px */
  }
}

@media (max-width: 720px) {
  body {
    font-size: 87.5%; /* 14px */
  }
}

body {
  background-color: #f2f2fa;
}

body,
button,
input {
  font: 1rem Roboto, sans-serif;
  color: #a8a8b3;
}

h1,
h2 {
  color: #3d3d4d;
}

button {
  cursor: pointer;
}
